<%-include('header')%>
<!--section start-->
<section class="cart-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="cart_counter">
                    <div class="countdownholder">
                        Your cart will be expired in<span id="timer"></span> minutes!
                    </div>
                    <a href="checkout.html" class="cart_checkout btn btn-solid btn-xs">check out</a>
                </div>
            </div>
            <div class="col-sm-12 table-responsive-xs">
                <table class="table cart-table">
                    <thead>
                        <tr class="table-head">
                            <th scope="col">action</th>
                            <th scope="col">image</th>
                            <th scope="col">product name</th>
                            <th scope="col">price</th>
                            <th scope="col">quantity</th>
                            <th scope="col">total</th>
                        </tr>
                    </thead>
                    <% var length = cart.length%>
                    <%var i=0;%>
                    <%for(var c of cart){%>
                    <tbody>
                        <tr>
                            <td>
                                <div class="col">
                                    <h2>
                                        <a href="/deletcartitem/<%=c.id%>" class="btn btn-solid text-white text-semibold">Remove Product</a>
                                    </h2>
                                </div>
                            </td>
                            <td>
                                <a href="#"><img src="<%=c.productId.productImage%>" alt=""></a>
                            </td>
                            <td><a href="#"><%=c.productId.title%></a>
                                <div class="mobile-cart-content row">
                                    <div class="col">
                                        <div class="qty-box">
                                            <div class="input-group">
                                                <input type="text" name="quantity" min="1" max="6" class="form-control input-number" id="quantity<%=i%>" onchange="subtotalfind('<%=i%>','<%=c.id%>', '<%=length%>')" value="<%=c.quantity%>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <h2 class="td-color" id="price<%=i%>">₹<%=c.productId.price%></h2>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <% var value = c.productId.price.replace(/,/g, '');
                                var price = Number(value);
                                %>
                                <h2 id="price_display<%= i %>">₹<%= price %></h2>
                            </td>
                            <td>
                                <div class="qty-box">
                                    <div class="input-group">
                                        <input type="number" name="quantity" min="1" max="6" class="form-control input-number" id="quantity_input<%= i %>" onchange="subtotalfind('<%= i %>', '<%= c.id %>', '<%=length%>')" value="<%= c.quantity %>">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-center align-items-center">
                                    <span class="td-color" style="font-size: 23px;">₹</span>
                                <h2 class="td-color" id="subtotal<%= i %>"><%= c.quantity * price %>.00</h2>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <% i++%>
                    <%}%>
                </table>
                <div class="table-responsive-md">
                    <table class="table cart-table ">
                        <tfoot>
                            <tr>
                                <% var total=0;%>
                                <% var sub=0;%>
                                <% for(var i = 0;i< cart.length ;i++){%>
                                    <% var priceString = cart[i].productId.price.replace(/,/g, '');%>
                                    <% sub += cart[i].quantity * Number(priceString);%>
                                <%}%>
                                <td>total price :</td>
                                <td>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <span class="td-color" style="font-size: 23px;">₹</span>
                                    <h2 class="td-color" id="GrandTotal"><%=sub%>.00</h2>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="row cart-buttons">
            <div class="col-6"><a href="#" class="btn btn-solid">continue shopping</a></div>
            <div class="col-6"><a href="/checkout" class="btn btn-solid">check out</a></div>
        </div>
    </div>
</section>
<script>
    function subtotalfind(i, cid , cart) {
        var quantity = parseInt(document.getElementById('quantity_input' + i).value);
        var price = parseFloat(document.getElementById('price_display' + i).innerText.replace('₹', ''));
        console.log('Quantity:', quantity);
        console.log('Price:', price);
        var total = quantity * price;
        console.log('Total:', total.toFixed(2));
        document.getElementById('subtotal' + i).innerHTML =total.toFixed(2);
        var finalTotal =0;
        for(var j=0; j<cart; j++){

            finalTotal+=parseInt(document.getElementById('subtotal'+j).innerHTML);
            console.log(finalTotal, j);
        }
		document.getElementById('GrandTotal').innerHTML = finalTotal.toFixed(2);
        $.ajax({
    	    url : "/changeQuantity",
    	    method : 'post',
    	    data : {
			    quantity :quantity,
			    cartId : cid
    	    },
    	    success : function(res){}
        })
    }
</script>
<%-include('footer')%>